source https://api.nuget.org/v3/index.json

redirects:on

nuget NuGet.CommandLine
nuget FsCheck
nuget FsCheck.Xunit
nuget FSharp.Core
nuget log4net
nuget Unquote
nuget xunit.abstractions
nuget xunit.extensibility.core
nuget xunit.extensibility.execution
nuget xunit.runner.visualstudio
nuget xunit.runner.console
nuget FAKE
